body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

h1, h2 {
  color: #38bdf8;
}

p {
  font-size: 18px;
}

button {
  background-color: #22c55e;
  color: black;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #16a34a;
}
